SIW/src/conf/xml-resources/web-service-references/WasWS_4/wsdl/localhost_8080/sgarci18WasServer/WasWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="find" type="tns:find"/>

<xs:element name="findResponse" type="tns:findResponse"/>

<xs:element name="list" type="tns:list"/>

<xs:element name="listResponse" type="tns:listResponse"/>

<xs:element name="listTxt" type="tns:listTxt"/>

<xs:element name="listTxtResponse" type="tns:listTxtResponse"/>

<xs:complexType name="find">
<xs:sequence>
<xs:element name="pattern" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="list">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listTxt">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listTxtResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>