SIW/src/conf/xml-resources/web-service-references/WasWS_3/wsdl/localhost_8080/sgarci18WasServer/WasWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="WasWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/sgarci18WasServer/WasWS?xsd=1"/>
</xsd:schema>
</types>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="list">
<part name="parameters" element="tns:list"/>
</message>
<message name="listResponse">
<part name="parameters" element="tns:listResponse"/>
</message>
<message name="listTxt">
<part name="parameters" element="tns:listTxt"/>
</message>
<message name="listTxtResponse">
<part name="parameters" element="tns:listTxtResponse"/>
</message>
<portType name="WasWS">
<operation name="find">
<input wsam:Action="http://ws/WasWS/findRequest" message="tns:find"/>
<output wsam:Action="http://ws/WasWS/findResponse" message="tns:findResponse"/>
</operation>
<operation name="list">
<input wsam:Action="http://ws/WasWS/listRequest" message="tns:list"/>
<output wsam:Action="http://ws/WasWS/listResponse" message="tns:listResponse"/>
</operation>
<operation name="listTxt">
<input wsam:Action="http://ws/WasWS/listTxtRequest" message="tns:listTxt"/>
<output wsam:Action="http://ws/WasWS/listTxtResponse" message="tns:listTxtResponse"/>
</operation>
</portType>
<binding name="WasWSPortBinding" type="tns:WasWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="list">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listTxt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WasWS">
<port name="WasWSPort" binding="tns:WasWSPortBinding">
<soap:address location="http://localhost:8080/sgarci18WasServer/WasWS"/>
</port>
</service>
</definitions>